.product-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card{
    float: left;
    width: 30%;
    height: 500px;
    padding: 20px;
    margin: 5px;
    border: 5px solid rgb(10, 85, 128);
    border-radius: 8px;
    box-sizing: border-box;
}

button{
    color: black;
    padding: 10px ;
    background-color: white;
    border: 1px solid  rgb(10, 85, 128);
    font-size: 16px;
    border-radius: 8px;
}

button:hover{
    background-color:rgb(238, 168, 27);
    border: white;
}