.product-image {
    width: 125px;
    height: 125px;
    margin-left: 27%;
    margin-right: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card{
    float: left;
    width: 45%;
    height: 400px;
    padding: 20px;
    margin: 5px;
    border: 5px solid rgb(242, 250, 255);
    border-radius: 8px;
    box-sizing: border-box;
}

.product-card:hover{
    background-image: url(../../../assets/modern-room.jpg);
    background-size: contain;
    transition: background-image 0.5s ease, background-position 0.5s ease;
    background-size: cover;
}

.product-card img {
    transition: transform 0.5s ease;
  }

.product-card:hover img{
    transform: translateY(170px) translateX(35px) scale(2);
}

.product-card:hover p, 
.product-card:hover h3{
    visibility: hidden;
}

@media (max-width: 1300px) {
    .product-card{
        width: 30%;
    }
  }

  @media (max-width: 1000px) {
    .product-card{
        width: 45%;
    }
  }

button{
    color: black;
    padding: 10px ;
    background-color: white;
    border: 1px solid  rgb(10, 85, 128);
    font-size: 16px;
    border-radius: 8px;
}

button:hover{
    background-color:rgb(238, 168, 27);
    border: white;
}