<body>
  <h1>Furniture Store</h1>
  <app-basket></app-basket>
  <div>
    <label for="styleDropdown">Choose a different style:</label>
    <select id="styleDropdown" (change)="applyStyle($event)">
      <option value="" disabled selected>Select Style</option>
      <option *ngFor="let option of styleOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>    
  </div>

  <div [style.background-color]="backgroundColor" style="height: 100vh;">
    <label for="colorDropdown">Choose a background color:</label>
    <select id="colorDropdown" (change)="changeBackgroundColor($event)">
      <option value="" disabled selected>Select a color</option>
      <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
    </select>
  </div>

  <app-product-list></app-product-list>
</body>