<body  [ngClass]="getStyleClass()">

  <div class="split-container">

    <div class="left-panel">
      <img class="logo" src="../assets/logo.jpg">
      <p>
        Discover elegant, handcrafted furniture
        that transforms any space into a home. 
        From timeless classics to modern designs, 
        each piece is created with quality, comfort,
          and style in mind.
      </p>
      <app-basket></app-basket>
      <label for="styleSelector">Choose a style: </label>
      <select id="styleSelector" [(ngModel)]="selectedStyle">
        <option *ngFor="let option of styleOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </div>

    <div class="right-panel">
       <app-product-list></app-product-list>
    </div>

  </div>
</body>